* {
  box-sizing: border-box;
  margin: 0;
}

.digimon__list-nav-bar {
  padding: 40px 80px;
  background: rgba(223, 207, 190, 0.322);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.digimon__list-nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.digimon__list-nav-bar-image {
  width: 200px;
  height: auto;
  animation: float 3s ease-in-out infinite;
}

.digimon__list-nav-bar-text {
  font-family: monospace;
  font-size: 25px;
  max-width: 300px;
}

.digimon__list-nav-bar-button {
  color: white;
  font-family: monospace;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  outline: none;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.digimon__list-nav-bar-button:active {
  transform: translateY(4px);
}

.digimon__list-display {
  background: rgba(223, 207, 190, 0.322);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.digimon__list-display-details {
  padding: 40px 50px;
}

.digimon__list-display-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: white;
  border-radius: 30px;
}

.digimon__list-display-details-wrapper h3 {
  font-size: 30px;
  font-family: monospace;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

.digimon__list-display-details-wrapper:hover {
  animation: grow 1s forwards;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.digimon__list-display-details-wrapper h2 {
  font-size: 20px;
  font-family: monospace;
  color: #c20114;
  text-decoration: none;
  margin-bottom: 10px;
}

.digimon__list-display-details-wrapper:hover h2 {
  color: white;
}

.digimon__list-display-details-wrapper:hover h3 {
  color: white;
}
.digimon__list-display-details-wrapper:hover p {
  color: white;
}
